/* IBM Plex Mono (SIL Open Font License 1.1, see OFL-IBM-Plex-Mono.txt), Latin-1 subset, served from this site.
   Used by the printable kit for the small capitals of its sheets. */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url("ibm-plex-mono-600-latin1.woff2") format("woff2");
}
